*{
    box-sizing: border-box;
}
@media screen and (min-width: 600px) {
.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}
.row{
    width: 100%;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}


    .column {
        float: left;
        padding: 1em;
        /*
        border: 1px solid black;
        */
        margin: 1em 0;

    }

    .two-third{
        width: 66.6%;
    }

    .column.one-half, .two-fourth, .three-sixth{
        width: 50%;
        /*
        background-color: orangered;
        */
    }

    .three-eighth{
        width: 37.5%;
    }

    .column.one-third {
        width: 33.3%;
        /*
        background-color: #B22222;
        */
    }

    .column.one-fourth {
        width: 25%;
        /*
        background-color: #6495ED;
        */
    }

    .column.one-eighth {
        width: 12.5%;
        /*
        background-color: #848487;
        */
    }
}

@media screen and (max-width: 600px){
    .column.one-half.one-third.one-fourth.one-eighth{
        width: 100%;
    }


}