body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message-info{
    background-color: #6495ED;
    opacity: .6;
    color: darkblue;
    border: 1px;
    border-color: darkgrey;
    border-style: solid;
    border-radius: 6px;
    margin: .5em;
    padding: 10px;

}

.message-success{
    background-color: #66CDAA;
    opacity: .6;
    color: darkgreen;
    border: 1px;
    border-color: darkgrey;
    border-radius: 6px;
    margin: .5em;
    padding: 10px;
    border-style: solid;
}

.message-warning{
    background-color: #FAFAD2;
    opacity: .6;
    color: #000;
    border: 1px;
    border-color: darkgrey;
    border-radius: 6px;
    margin: .5em;
    padding: 10px;
    border-style: solid;
}

.message-error{
    background-color: #FFB6C1;
    opacity: .6;
    color: #B22222;
    border: 1px;
    border-color: darkgrey;
    border-radius: 6px;
    margin: .5em;
    padding: 10px;
    border-style: solid;
}