.main{
    background: url(../img/SAskyline.jpg);
    background-repeat: no-repeat;
    background-size: 100% 40vh ;
    /*opacity:  0.6;*/

}

button{

    position: relative;

}
#fancy_title {
    font-weight: bold;
    font-size: 60px;
    color: black;
}

img, #smaller {

}




h1 span{
    color: #f00
}

.not_trans {
    font-weight:bold;
    color: white;

    /*opacity: unset;
    display: flex;*/
}

.container{
    display:flex;
}
.container > div {
    flex: 1;
}

/*.property_type {
    position:relative;
    top: 10px;

}
.size{
    position: relative;
    top: -155px;
    right: -500px;
}
.price{
    clear: both;
    position: relative;

    left: 210px;
    top: -303px;
}*/





.button {
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 10px;
    border-radius: 15px;
    position: relative;
    top: -33px;
    left: 357px;
}