body{

    font-family: Raleway, sans-serif;
    height: 700px;
    background-image: url(forest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;


}


.center{
    text-align: center;
    position: relative;
    top: 271px;
    left: 8px;
    font-weight: lighter;
}
#larger{
    font-size: 3em;
    margin-bottom: .5em;

}
#smaller{

}
hr{
    width: 10em;
    opacity: .5;
}